<div class="category-buttons">
  <!-- {{update-category category=model update="update" destroyCategory="destroyCategory"}}
  <button class="btn btn-xs btn-danger" {{action 'delete' model}}>Delete Category</button> -->
</div>
<br>
<div class="container-fluid">
  <h3>{{model.name}} Listings:</h3>

  <ul>
    {{#each model.listings as |listing|}}
      {{listing-tile listing=listing}}
    {{/each}}
  </ul>
  <br>
  {{new-listing saveListing="saveListing" category=model}}
</div>
